<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back color-gray"></i><span></span></a></div>
		<div class="center sliding">订单详情</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="trade.detail" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content" style="padding-bottom: 44px;">
			<div class="list-block media-list">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title-row">
    								<div class="item-title">收货人：$!{trade.receiverName}</div>
                                    <div class="item-after">$!{trade.receiverTel}</div>
                                </div>
								<div class="item-title-row">
    								<div class="item-title">
    									收货地址：$!{trade.receiverProvince}$!{trade.receiverCity}$!{trade.receiverArea}$!{trade.receiverAddress}
    								</div>
                                </div>
							</div>
						</div>
					</li>
					#if($!{trade.type} == 'send' || $!{trade.type} == 'sign')
					<li>
						<a href="#" class="item-link item-content" data-ignore-cache="true">
							<div class="item-inner">
								<div class="item-title">含有$!{trade.orderList.size()}个物流包裹</div>
                                <div class="item-after">查看详细信息</div>
							</div>
						</a>
					</li>
					#end
				</ul>
            </div>
			<div class="list-block">
				<ul>
					<li>
						<a href="$!{env.appUrl}/item/list.htm?shopId=$!{trade.shopId}" class="item-link item-content" data-ignore-cache="true">
							<div class="item-inner">
								<div class="item-title">店铺：$!{trade.shopName}</div>
							</div>
						</a>
					</li>
					<li>
						<a href="$!{env.appUrl}/order/detail.htm?tradeNo=$!{tradeNo}" class="item-link item-content">
							<div class="item-inner row no-gutter">
								<div class="col-75">
        							<div class="a7w" style="padding: 5px 0; overflow-x: hidden;">
        								<ul style="padding-left: 0; width: $!{velocityMath.mul($!{trade.orderList.size()},63)}px;">
											#set($quantity = 0)
                                            #foreach($order in $!{trade.orderList})
                        					<li>
                    							<img src="$!{order.itemFilePath}"></img>
        										#if($!{order.quantity} > 1)
        										<i>$!{order.quantity}</i>
												#end
												#set($quantity = $quantity + $!{order.quantity})
                        					</li>
        									#end
                                        </ul>
        							</div>
                                </div>
								<div class="item-after">共$quantity件</div>
							</div>
						</a>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">运费</div>
								<div class="item-after">￥$!formatUtil.getAmountFormat($!{trade.postage})</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title" style="font-size: 13px;">
									买家留言：#if($!stringUtil.isNotEmpty($!{trade.receiverRemark})) $!{trade.receiverRemark} #else 无 #end
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">合计</div>
								<div class="item-after color-base">￥$!formatUtil.getAmountFormat($!{trade.price})</div>
							</div>
						</div>
					</li>
				</ul>
            </div>
			<div class="list-block media-list">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item-title">商品金额</div>
									<div class="item-after">￥$!formatUtil.getAmountFormat($!{trade.tradePrice})</div>
                                </div>
								<div class="item-title-row">
									<div class="item-title">运费</div>
									<div class="item-after">+ ￥$!formatUtil.getAmountFormat($!{trade.postage})</div>
                                </div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title-row">
                                    <div class="item-title">
    									#if($!{trade.type} == 'check' || $!{trade.type} == 'topay' || $!{trade.type} == 'cancel')
    									应付金额
    									#else
    									实付金额
    									#end
    								</div>
    								<div class="item-after">
    									<span class="color-base">￥$!formatUtil.getAmountFormat($!{trade.price})</span>
    								</div>
                                </div>
							</div>
						</div>
					</li>
                </ul>
            </div>
			<div class="list-block media-list">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item-title">订单编号：$!{tradeNo}</div>
                                </div>
								<div class="item-title-row">
									<div class="item-title color-gray">创建时间：$!{trade.createDate}</div>
                                </div>
								#if($!{trade.payDate})
								<div class="item-title-row">
									<div class="item-title color-gray">$!{trade.payDate}</div>
                                </div>
								<div class="item-title-row">
									<div class="item-title color-gray">完成付款</div>
                                </div>
								#end
							</div>
						</div>
					</li>
				</ul>
            </div>
			
			<form id="trade/detail/delete" action="$!{env.appUrl}/trade/delete.htm" method="POST" class="ajax-submit trade-detail-delete">
            	<input type="hidden" name="tradeNo" value="$!{trade.tradeNo}"/>
            </form>
			<form id="trade/detail/copy" action="$!{env.appUrl}/trade/copy.htm" method="POST" class="ajax-submit trade-detail-copy">
            	<input type="hidden" name="tradeNo" value="$!{trade.tradeNo}"/>
            </form>
        </div>
		
		<div class="toolbar">
			<div class="toolbar-inner" style="padding: 0;">
				<div class="row no-gutter" style="width: 100%;">
					<div class="col-15">
						<a href="javascript:trade_detail_service();" class="button button-big color-gray" style="background: #fff; border-radius: 0; border: 0; border-right: 1px solid #d9d9d9;">
                            <i class="iconfont icon-service"></i>
                        </a>
					</div>
					<div class="col-25">
						<a href="javascript:trade_detail_delete();" class="button button-big color-gray" style="background: #fff; border-radius: 0; border: 0; border-right: 1px solid #d9d9d9;">
                            <i class="iconfont icon-delete" style="font-size: 17px;"></i><span style="margin-left: 3px;">删除</span>
                        </a>
					</div>
					<div class="col-60">
						<a href="javascript:trade_detail_copy();" class="button button-big color-gray" style="background: #fff; border: 0;">再次购买</a>
					</div>
				</div>   
			</div>
		</div>
    </div>
</div>