<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			#if("view" != $!{code})
			<a href="#" class="back link"> <i class="icon icon-back color-gray"></i><span></span></a>
			#end
		</div>
		<div class="center sliding">订单</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	#if("view" != $!{code})
	<div data-page="trade.list" class="page no-tabbar">
	#else
	<div data-page="trade.list" class="page">
	#end
		<!-- Scrollable page content-->
		<div class="page-content pull-to-refresh-content infinite-scroll">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			
			<!--
			<div class="list-block">
				<ul class="page-settings">
					<li class="row" style="text-align: center;">
						<a href="javascript:trade_list('topay', '$!{code}');" class="col-25 item-link" style="width: 25%;">
							#if("topay" == $!{type})
							<h3 id="trade/list/topay" class="color-base">0</h3>
							#else
							<h3 id="trade/list/topay" class="color-gray">0</h3>
							#end
							<div class="color-gray color-gray-0">待付款</div>
                        </a>
						<a href="javascript:trade_list('tosend', '$!{code}');" class="col-25 item-link" style="width: 25%;">
							#if("tosend" == $!{type})
							<h3 id="trade/list/tosend" class="color-base">0</h3>
							#else
							<h3 id="trade/list/tosend" class="color-gray">0</h3>
							#end
							<div class="color-gray color-gray-0">待发货</div>
                        </a>
						<a href="javascript:trade_list('send', '$!{code}');" class="col-25 item-link" style="width: 25%;">
							#if("send" == $!{type})
							<h3 id="trade/list/send" class="color-base">0</h3>
							#else
							<h3 id="trade/list/send" class="color-gray">0</h3>
							#end
							<div class="color-gray color-gray-0">已发货</div>
                        </a>
						<a href="javascript:trade_list('sign', '$!{code}');" class="col-25 item-link" style="width: 25%;">
							#if("sign" == $!{type})
							<h3 id="trade/list/sign" class="color-base">0</h3>
							#else
							<h3 id="trade/list/sign" class="color-gray">0</h3>
							#end
							<div class="color-gray color-gray-0">已完成</div>
                        </a>
					</li>
                </ul>
            </div>
			-->
			
            <div class="more"></div>
			
		#if($!{tradeList})
			#foreach($trade in $!{tradeList})
			<div class="list-block media-list">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
								<div class="item-title">
									<a href="$!{env.appUrl}/item/list.htm?shopId=$!{trade.shopId}" data-ignore-cache="true">
										店铺：$!{trade.shopName} <i class="iconfont icon-right color-gray" style="font-size: 14px;"></i>
                                    </a>
								</div>
								<div class="item-after">
									#if($!{trade.type} == 'check' || $!{trade.type} == 'topay')
									<a href="javascript:trade_list_cancel('$!{trade.tradeNo}');">取消</a>
									#end
								</div>
							</div>
						</div>
					</li>
					<li>
						#if($!{trade.type} == 'check' || $!{trade.type} == 'topay')
						<a href="$!{env.appUrl}/pay/index.htm?tradeNo=$!{trade.tradeNo}" class="item-content" data-ignore-cache="true">
						#else
						<a href="$!{env.appUrl}/trade/detail.htm?tradeNo=$!{trade.tradeNo}" class="item-content" data-ignore-cache="true">
						#end
							<div class="item-inner row no-gutter" style="display: flex;">
								<div class="col-80">
        							<div class="a7w" style="padding: 5px 0;">
        								<ul style="padding-left: 0; width: $!{velocityMath.mul($!{trade.orderList.size()},63)}px;">
											#set($quantity = 0)
                                            #foreach($order in $!{trade.orderList})
                        					<li>
                    							<img data-src="$!{order.itemFilePath}" class="lazy"></img>
        										#if($!{order.quantity} > 1)
        											<i>$!{order.quantity}</i>
												#end
												#set($quantity = $quantity + $!{order.quantity})
                        					</li>
        									#end
                                        </ul>
        							</div>
                                </div>
								<div class="col-20">
    								<div class="item-title-row">
    									<div class="item-title"></div>
    									<div class="item-after" style="font-size: 16px;">
											<span class="color-base">￥$!formatUtil.getAmountFormat($!{trade.price})</span>
										</div>
    								</div>
    								<div class="item-title-row">
    									<div class="item-subtitle"></div>
    									<div class="item-after">共$quantity件</div>
    								</div>
                                </div>
							</div>
                        </a>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
                                <div class="item-title">$!{trade.createDate}</div>
								<div class="item-after">
									#if($!{trade.type} == 'check' || $!{trade.type} == 'topay')
									<a href="$!{env.appUrl}/pay/index.htm?tradeNo=$!{trade.tradeNo}" class="button color-orange" data-ignore-cache="true">付款</a>
									#elseif($!{trade.type} == 'send')
									<a href="javascript:trade_list_sign('$!{trade.tradeNo}');" class="button color-gray">确认收货</a>
    								#elseif($!{trade.type} == 'sign')
    								<a href="#" class="button color-gray" style="margin-left: 5px;">评价</a>
									#end
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			#end
		#else
			<div class="empty-list">
				<div class="empty-list-header">
					<h4>居然还没有订单</h4>
					<span>好东西，手慢无</span>
				</div>
				<div class="empty-list-content">
				</div>
			</div>
		#end
		
			<!-- Preloader -->
			<!--
			<div class="infinite-scroll-preloader">
				<div class="preloader"></div>
			</div>
			-->
			<form id="trade/list/cancel" action="$!{env.appUrl}/trade/cancel.htm" method="POST" class="ajax-submit trade-list-cancel">
            	<input type="hidden" name="tradeNo" id="trade_list_cancel_tradeNo"/>
            </form>
			<form id="trade/list/sign" action="$!{env.appUrl}/trade/sign.htm" method="POST" class="ajax-submit trade-list-sign">
            	<input type="hidden" name="tradeNo" id="trade_list_sign_tradeNo"/>
            </form>
		</div>
    </div>
</div>