<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">会员中心</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="member.index" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block">
				<ul>
					<li>
						<a class="item-link item-content" href="$!{env.appUrl}/user/detail.htm" data-ignore-cache="true">
							<div class="item-media">
								<img src="$!{user.headImgUrl}" class="lazy" style="width: 60px; height: 60px; border-radius: 5px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title">$!{user.userName}</div>
							</div>
						</a>
					</li>
				</ul>
            </div>
			<div class="list-block">
				<ul class="page-settings after-height-0">
					<li class="row" style="text-align: center;">
						<a href="$!{env.appUrl}/trade/list.htm?type=topay" class="col-25 item-link" style="width: 25%; padding-top: 10px;" data-ignore-cache="true">
							<i class="icon iconfont icon-recharge" style="font-size: 25px; color: #A6D344;">
    							<span id="member/index/topay" class="badge bg-red">0</span>
    						</i>
							<div class="color-gray color-gray-0">待付款</div>
                        </a>
						<a href="$!{env.appUrl}/trade/list.htm?type=tosend" class="col-25 item-link" style="width: 25%; padding-top: 10px;" data-ignore-cache="true">
							<i class="icon iconfont icon-present" style="font-size: 25px; color: #EB5D5D;">
    							<span id="member/index/tosend" class="badge bg-red">0</span>
    						</i>
							<div class="color-gray color-gray-0">待发货</div>
                        </a>
						<a href="$!{env.appUrl}/trade/list.htm?type=send" class="col-25 item-link" style="width: 25%; padding-top: 10px;" data-ignore-cache="true">
							<i class="icon iconfont icon-deliver" style="font-size: 25px; color: #F6B639;">
    							<span id="member/index/send" class="badge bg-red">0</span>
    						</i>
							<div class="color-gray color-gray-0">已发货</div>
                        </a>
						<a href="$!{env.appUrl}/trade/list.htm?type=sign" class="col-25 item-link" style="width: 25%; padding-top: 10px;" data-ignore-cache="true">
							<i class="icon iconfont icon-squarecheck" style="font-size: 25px; color: #4DB4F9;">
    							<span id="member/index/sign" class="badge bg-red">0</span>
    						</i>
							<div class="color-gray color-gray-0">已完成</div>
                        </a>
					</li>
                </ul>
				<ul>
					<li>
						<a href="$!{env.appUrl}/trade/list.htm" class="item-link item-content" data-ignore-cache="true">
							<div class="item-media"><i class="iconfont icon-text color-gray"></i></div>
							<div class="item-inner">
								<div class="item-title">全部订单</div>
							</div>
						</a>
					</li>
				</ul>
            </div>
			<div class="list-block">
				<ul>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-location" style="color: #F6B639;"></i></div>
							<div class="item-inner">
								<div class="item-title">收货地址管理</div>
							</div>
						</a>
					</li>
					<li>
						<a href="$!{env.appUrl}/coupon/index.htm" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-ticket" style="color: #4DB439;"></i></div>
							<div class="item-inner">
								<div class="item-title">我的优惠券</div>
							</div>
						</a>
					</li>
				</ul>
            </div>
        </div>
    </div>
</div>