<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>好社惠 | 便民亭</title>
		#ICON()
		#CSSM(["framework7", "iconfont"])
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/homepage.css" />
		<link rel="stylesheet" href="$!{env.imgUrl}/css/address/index.css" />
		#UA()
	</head>
	<body>
		<!-- Views -->
		<div class="views toolbar-through">
			<div class="view view-main">
				<!-- Top Navbar-->
				<div class="navbar">
					<div class="navbar-inner">
						<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
						<div class="center sliding">选择您的位置</div>
						<div class="right">
                			<!-- Right link contains only icon - additional "icon-only" class-->
                			<a href="javascript:address_index_getLocation();" class="link icon-only"> <i class="iconfont icon-focus color-base"></i><span></span></a>
                		</div>
					</div>
				</div>
				<div class="pages navbar-through">
    				<div data-page="address.index" class="page">
						<!-- Search bar -->
                		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init item-list-searchbar" style="background: #ffffff;">
							<div class="x2">
                                <a href="#" data-popup=".popup-region" class="open-popup" style="padding-right: 15px;">杭州市</a>
							</div>
							<div class="searchbar-input" style="border-radius: 5px; border: 1px solid #eaeaea;">
                				<input type="search" placeholder="搜索写字楼、小区、学校" /><a href="#" class="searchbar-clear"></a>
                			</div><a href="javascript:chooseImage();" class="searchbar-cancel">取消</a>
                		</form>
                		
                		<!-- Search bar overlay -->
                		<div class="searchbar-overlay"></div>
                			
                		<!-- Scrollable page content-->
                		<div class="page-content">
                			<div class="list-block media-list list-block-search searchbar-found">
                				<ul>
									#foreach($address in $!{addressList})
									<li>
										<a href="$!{env.appUrl}/address/select.htm?addId=$!{address.addId}" class="item-content external">
                							<div class="item-media"><i class="iconfont icon-locationfill" style="color: #ddd;"></i></div>
                							<div class="item-inner">
												<div class="item-title-row">
                									<div class="item-title">$!{address.addName}</div>
                								</div>
                								<div class="item-title-row">
                									<div class="item-subtitle">$!{address.address}</div>
                								</div>
                                            </div>
                						</a>
                					</li>
									#end
                				</ul>
                			</div>
						</div>
    				</div>
                </div>
			</div>
		</div>
		
		<div class="popup popup-region" style="background: #efeff4;">
			<div class="content-block">
				<h2 class="xm"><span>已开通城市</span></h2>
				<ul class="xn scroller">
					<li data-city="北京市">北京市</li>
					<li data-city="上海市">上海市</li>
					<li class="curr" data-city="杭州市">杭州市</li>
				</ul>
    		</div>
    	</div>
		
		#JSM(["framework7", "weixin"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/address/index.js"></script>
		<script>
        wx.config({
        			debug : false,
        			appId : '$!{ticket.appId}',
        			timestamp : $!{ticket.timestamp},
        			nonceStr : '$!{ticket.nonceStr}',
        			signature : '$!{ticket.signature}',
        			jsApiList : ['openLocation', 'getLocation', 'chooseImage']
        		});
				
		function chooseImage() {
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
					alert(localIds);
                }
            });
		}
        </script>
	</body>
</html>