<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">商品</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="item.detail" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content" style="padding-bottom: 50px;">
			<div class="card" style="margin: 0;">
				<div valign="bottom" class="color-white no-border">
					<!-- Slider -->
					<div class="swiper-container swiper-init" data-pagination=".swiper-pagination-h">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
                                <img src="$!{env.imgUrl}/image/item/detail-1.jpg" width="100%"></img>
							</div>
							<div class="swiper-slide">
								<img src="$!{env.imgUrl}/image/item/detail-2.jpg" width="100%"></img>
							</div>
						</div>
						<div class="swiper-pagination swiper-pagination-h"></div>
					</div>
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<p class="color-gray">特仑苏纯牛奶利乐苗条装250ml×8盒×3提 共24盒</p>
						<p>
							生产许可证编号：QS1501 0501 0294<br />
							产品标准号：GB25190<br />
							厂名：内蒙古蒙牛乳业(集团)股份有限公司<br />
							配料表：生牛乳<br />
							储藏方法：常温密闭保存<br />
							保质期：180 天<br />
							净含量: 8x3x250ml
						</p>
					</div>
				</div>
				<div class="card-footer">
				</div>
			</div>
			
			<div class="item-detail-overlay"></div>
        </div>
		
		<div class="toolbar">
			<div class="toolbar-inner" style="padding: 0;">
				<p class="buttons-row" style="width: 100%; margin: 0;">
					<a href="#" class="button button-big" style="border: 1px solid #d9d9d9; border-right-width: 0px; color: #333;" disabled>收藏</a>
					<a href="javascript:item_detail_picker('cart')" class="button button-big" style="background-color: #ff9402; border: 1px solid #d9d9d9; border-left-width: 0px; border-right-width: 0px; color: #fff;">加入购物车</a>
					<a href="javascript:item_detail_picker('trade')" class="button button-big" style="background-color: #ff5000; border: 1px solid #d9d9d9; border-left-width: 0px; color: #fff;">立即购买</a>
                </p>
			</div>
		</div>
		
		<!-- Picker -->
        <div class="picker-modal picker-item-detail" style="background: #FFFFFF; height: 50%;">
            <div class="toolbar" style="background: #FFFFFF;">
            	<div class="toolbar-inner">
                    <div class="left">$!{item.itemName}</div>
            		<div class="right">
						<span style="margin-right: 13px; font-size: 13px; color: #FF5500;">￥$!{item.priceRange}</span>
						<a href="#" class="close-picker"><i class="iconfont icon-close" style="font-size: 20px; color: #8e8e93;"></i></a>
					</div>
            	</div>
            </div>
            <div class="picker-modal-inner">
            	<div class="content-block" style="margin-top: 0; margin-bottom: 0;">
					<p>$!{item.remark}</p>
            	</div>
				<div class="list-block" style="margin-top: 0; margin-bottom: 0;">
					<div class="item-content">
						<div class="item-inner">
							
                			#if($item.specCatList)
        					<dl style="margin: 0;">
        						#foreach($specCat in $item.specCatList)
        						<dt><strong>$!{specCat.specCName}</strong></dt>
        						<dd style="margin: 5px;" id="item/detail/specItem/$!{specCat.specCId}"></dd>
        						#end
        					</dl>
							#end
							
						</div>
                    </div>
					<div class="item-content">
						<div class="item-inner">
							<div class="item-title">购买数量：</div>
							<div class="item-after">
								<div class="quantity">
									<button class="minus" type="button"></button>
                                    <input id="item/detail/quantity/$!{item.itemId}" type="text" class="txt" value="1"></input>
									<button class="plus" type="button"></button>
									<div class="response-area response-area-minus" onclick="item_detail_minus('$!{item.itemId}');"></div>
									<div class="response-area response-area-plus" onclick="item_detail_plus('$!{item.itemId}');"></div>
								</div>
							</div>
						</div>
                    </div>
					<div class="item-content" style="margin-top: 20px;">
						<div class="item-inner after-height-0">
							<div class="row no-gutter" style="width: 100%;">
								#if($!{item.stock} == 0)
								<div class="col-100">
									<a class="button button-big color-gray" disabled>商品已售罄</a>
                                </div>
								#else
								<div class="col-100" id="item/detail/trade">
									#if($!{item.skuList.size()} > 0)
									<a href="javascript:item_list_trade('$!{item.itemId}', '$!{item.skuList.get(0).skuId}');" class="button button-big color-orange">立即下单</a>
									#else
									<a href="javascript:item_list_trade('$!{item.itemId}', '0');" class="button button-big color-orange">立即下单</a>
									#end
								</div>
								<div class="col-100" id="item/detail/cart">
									#if($!{item.skuList.size()} > 0)
									<a href="javascript:item_list_cart('$!{item.itemId}', '$!{item.skuList.get(0).skuId}');" class="button button-big color-gray" style="margin-left: 10px;">添加购物车</a>
									#else
									<a href="javascript:item_list_cart('$!{item.itemId}', '0');" class="button button-big color-gray" style="margin-left: 10px;">添加购物车</a>
									#end
								</div>
								#end
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
		
		<!-- -->
		#foreach($sku in $item.skuList)
		<input type="hidden" id="item/detail/sku/$!{sku.properties}" value="$!{sku.skuId}" ></input>
		<input type="hidden" id="item/detail/price/$!{sku.properties}" value="$!{sku.price}" ></input>
		<input type="hidden" id="item/detail/origin/$!{sku.properties}" value="$!{sku.origin}" ></input>
		<input type="hidden" id="item/detail/stock/$!{sku.properties}" value="$!{sku.stock}" ></input>
		#end
		
		<!-- -->
		<input type="hidden" id="item/detail/specCat" value='$!{item.specCat}' ></input>
		<input type="hidden" id="item/detail/specItem" value='$!{item.specItem}' ></input>
		
		<form id="item/detail/cart" action="$!{env.appUrl}/cart/add.htm" method="POST" class="ajax-submit item-detail-cart">
			<input type="hidden" id="item_detail_cart_itemId" name="itemId"></input>
			<input type="hidden" id="item_detail_cart_skuId" name="skuId"></input>
        </form>
    </div>
</div>