<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back color-gray"></i><span></span></a></div>
		<div class="center sliding">$!{shop.shopName}</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="#" class="link icon-only"> <i class="iconfont icon-more color-gray"></i><span></span></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="item.list" class="page no-tabbar">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init item-list-searchbar">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索店内商品" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="a47" data-itemcid="$!{itemCId}">
				<ul class="a3u" style="margin-top: 0; padding-left: 0; list-style: none;">
					#if(!$!{itemCId})
					<li class="a3v a3x">
					#else
					<li class="a3v" data-shopid="$!{shop.shopId}">
					#end
						<span class="a3y u k">全部商品</span>
                    </li>
					#foreach($itemCat in $!{itemCatList})
					#if($!{itemCId} == $!{itemCat.itemCId})
					<li class="a3v a3x">
					#else
					<li class="a3v" data-shopid="$!{shop.shopId}" data-itemcid="$!{itemCat.itemCId}">
					#end
						<span class="a3y u k">$!{itemCat.itemCName}</span>
                    </li>
					#end
                </ul>
				
    			<div class="a43 list-block media-list list-block-search searchbar-found" style="margin: 0 0 44px 0;">
			#foreach($item in $!{itemList})
				#if($!{item.skuList.size()} > 0)
					#foreach($itemSku in $!{item.skuList})
					<ul class="before-height-0">
                        <li>
    						<div class="item-content">
    							<div class="item-media">
    								#if($!{item.itemFileList.size()} > 0)
    								<img data-src="$!{item.itemFileList.get(0).filePath}" class="lazy" style="width: 60px; height: 60px; border-radius: 2px;"></img>
    								#end
    							</div>
    							<div class="item-inner">
    								<div class="item-title-row">
                                        <div class="item-title"><span class="little-tag">新品</span>$!{item.itemName}</div>
    									<div class="item-after"></div>
    								</div>
    								<div class="item-title-row">
    									<div class="item-subtitle">$!{itemSku.propertiesName}</div>
    									<div class="item-after"></div>
    								</div>
    								<div class="item-title-row">
                                        <div class="item-title color-base">
    										￥$!{itemSku.price}
                                            <del style="font-size: 10px; color: #999; margin-left: 5px;">
    											<span style="">￥$!{itemSku.origin}</span>
    										</del>
    									</div>
    									<div class="item-after item-after-op-$!{itemSku.itemId}-$!{itemSku.skuId}">
											#if($!{itemSku.cartId})
											<div class="quantity quantity-op-$!{itemSku.cartId}" data-itemid="$!{itemSku.itemId}" data-skuid="$!{itemSku.skuId}">
                                                <button class="minus" type="button"></button>
                                                <input id="item/list/quantity/0/$!{itemSku.cartId}" type="text" class="txt" value="$!{itemSku.quantity}" />
                                                <button class="plus" type="button"></button>
                                                <div class="response-area response-area-minus" onclick="item_list_minus('$!{itemSku.cartId}');"></div>
                                                <div class="response-area response-area-plus" onclick="item_list_plus('$!{itemSku.cartId}');"></div>
            								</div>
											<a style="display: none;" class="a-op-$!{itemSku.itemId}-$!{itemSku.skuId}" href="javascript:item_list_cart_add('$!{item.itemId}','$!{itemSku.skuId}','1','$!{item.itemName}','$!{itemSku.price}');">
    											<i class="iconfont icon-roundadd color-base" style="font-size: 25px;"></i>
    										</a>
											#else
											<a class="a-op-$!{itemSku.itemId}-$!{itemSku.skuId}" href="javascript:item_list_cart_add('$!{item.itemId}','$!{itemSku.skuId}','1','$!{item.itemName}','$!{itemSku.price}');">
    											<i class="iconfont icon-roundadd color-base" style="font-size: 25px;"></i>
    										</a>
											#end
    									</div>
    								</div>
                                </div>
    						</div>
    					</li>
					</ul>
					#end
				#else
					<ul class="before-height-0">
    					<li>
    						<div class="item-content">
    							<div class="item-media">
    								#if($!{item.itemFileList.size()} > 0)
    								<img data-src="$!{item.itemFileList.get(0).filePath}" class="lazy" style="width: 60px; height: 60px;"></img>
    								#end
    							</div>
    							<div class="item-inner">
    								<div class="item-title-row">
                                        <div class="item-title"><span class="little-tag">新品</span>$!{item.itemName}</div>
    									<div class="item-after"></div>
    								</div>
    								<div class="item-title-row">
    									<div class="item-subtitle"></div>
    									<div class="item-after"></div>
    								</div>
    								<div class="item-title-row">
                                        <div class="item-title color-base">
    										￥$!{item.price}
                                            <del style="font-size: 10px; color: #999; margin-left: 5px;">
    											<span style="">￥$!{item.origin}</span>
    										</del>
    									</div>
										<div class="item-after item-after-op-$!{item.itemId}-0">
											#if($!{item.cartId})
											<div class="quantity quantity-op-$!{item.cartId}" data-itemid="$!{item.itemId}" data-skuid="0">
                                                <button class="minus" type="button"></button>
                                                <input id="item/list/quantity/0/$!{item.cartId}" type="text" class="txt" value="$!{item.quantity}" />
                                                <button class="plus" type="button"></button>
                                                <div class="response-area response-area-minus" onclick="item_list_minus('$!{item.cartId}');"></div>
                                                <div class="response-area response-area-plus" onclick="item_list_plus('$!{item.cartId}');"></div>
            								</div>
											<a style="display: none;" class="a-op-$!{item.itemId}-0" href="javascript:item_list_cart_add('$!{item.itemId}','0','1','$!{item.itemName}','$!{item.price}');">
    											<i class="iconfont icon-roundadd color-base" style="font-size: 25px;"></i>
    										</a>
											#else
											<a class="a-op-$!{item.itemId}-0" href="javascript:item_list_cart_add('$!{item.itemId}','0','1','$!{item.itemName}','$!{item.price}');">
    											<i class="iconfont icon-roundadd color-base" style="font-size: 25px;"></i>
    										</a>
											#end
    									</div>
    								</div>
                                </div>
    						</div>
    					</li>
					</ul>
				#end
			#end
    			</div>
            </div>
			
			<div class="item-list-overlay"></div>
        </div>
		
		<div class="toolbar">
			<div class="toolbar-inner" style="padding: 0;">
                <a href="javascript:item_list_picker();" class="a6r light" style="position: absolute;">
					<i class="a6s">0</i>
				</a>
				<div class="row no-gutter" style="width: 100%;">
					<div class="col-66">
						<a href="javascript:item_list_picker();" class="button button-big" style="background: #ffffff; border: 0;">
							<span class="color-base" style="font-size: 18px;" id="item/list/price"></span>
						</a>
					</div>
					<div class="col-33">
						<a href="javascript:item_list_trade_create();" class="button button-big" style="background: #ff5000; border: 0; border-radius: 0; color: #fff;">去结算</a>
					</div>
				</div>   
			</div>
		</div>
		
		<!-- Picker -->
        <div class="picker-modal picker-item-list" style="background: #FFFFFF; z-index: 499; margin-bottom: 44px; height: initial;">
            <div class="toolbar" style="background: #FFFFFF; border-bottom: 1px solid #e5e5e5;">
            	<div class="toolbar-inner">
					<div class="left" style="position: absolute; top: 11px; padding-left: 7px;">
    					<label class="label-checkbox">
                            <input id="item/list/check" type="checkbox"></input>
    						<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        </label>
						<div class="response-area" style="height: 80px; width: 80px; top: -50px; left: -5px; position: absolute;"></div>
					</div>
					<div style="position: absolute; top: 10px; margin-left: 35px;">
						<span class="color-gray" style="font-size: 14px;">全选</span>
                    </div>
					<div style="margin-left: 70px;">
						<span class="color-gray a86" style="font-size: 14px;"></span>
					</div>
                    <div class="right">
                        <a href="javascript:item_list_cart_remove();">
							<i class="iconfont icon-delete color-gray" style="font-size: 15px;"></i>
							<span class="color-gray" style="font-size: 14px;">清空购物车</span>
						</a>
					</div>
            	</div>
            </div>
            <div class="picker-modal-inner" style="max-height: 330px; overflow:auto">
				<form id="item/list/form" method="POST" class="ajax-submit item-list-form">
    				<div class="list-block" style="margin-top: 0; margin-bottom: 30px;">
    					<ul class="before-height-0 after-height-0" id="item_list_cart">
    						#foreach($cart in $!{cartList})
    						<li id="item_list_cart_$!{cart.cartId}">
								<div class="item-content">
									<label class="label-checkbox">
                                        <input type="checkbox" name="cartIds" value="$!{cart.cartId}" checked></input>
    									<div class="item-media" style="width: 30px;"><i class="icon icon-form-checkbox"></i></div>
    								</label>
            						<div class="item-inner">
            							<div class="item-title">$!{cart.itemName}</div>
            							<div class="item-after">
                                            <span class="color-base" style="padding-top: 3px; padding-right: 10px;">￥$!{cart.price}</span>
            								<input type="hidden" id="item/list/price/$!{cart.cartId}" value="$!{cart.price}" />
    										<div class="quantity">
                                                <button class="minus" type="button"></button>
                                                <input id="item/list/quantity/$!{cart.cartId}" type="text" class="txt" value="$!{cart.quantity}" />
                                                <button class="plus" type="button"></button>
                                                <div class="response-area response-area-minus" onclick="item_list_minus('$!{cart.cartId}');"></div>
                                                <div class="response-area response-area-plus" onclick="item_list_plus('$!{cart.cartId}');"></div>
            								</div>
            							</div>
            						</div>
                                </div>
                            </li>
							#end
                        </ul>
                    </div>
				</form>
            </div>
        </div>
		
		<form id="item/list/cart" method="POST" class="ajax-submit item-list-cart">
			<input type="hidden" id="item_list_cart_itemId" name="itemId"></input>
			<input type="hidden" id="item_list_cart_skuId" name="skuId"></input>
			<input type="hidden" id="item_list_cart_quantity" name="quantity"></input>
			<input type="hidden" id="item_list_cart_cartId" name="cartIds"></input>
        </form>
    </div>
</div>