<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">$!{shop.shopName}</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="item.list" class="page no-tabbar">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init item-list-searchbar">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block media-list list-block-search searchbar-found" style="font-size: 15px;">
				<ul>
					#foreach($item in $!{itemList})
                    <li>
						<div class="item-content">
							<div class="item-media">
								#if($!{item.itemFileList.size()} > 0)
								<img data-src="$!{item.itemFileList.get(0).filePath}" class="lazy" style="width: 60px; height: 60px;"></img>
								#end
							</div>
							<div class="item-inner">
								<div class="item-title-row" style="margin-top: 3px;">
                                    <div class="item-title" style="font-weight: 400;"><span class="little-tag">新品</span>$!{item.itemName}</div>
									<div class="item-after"></div>
								</div>
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-subtitle" style="font-size: 13px; color: #8e8e93;">
										#if($!{item.skuList.size()} > 0)
										$!{item.skuList.get(0).propertiesName} ...
										#end
									</div>
									<div class="item-after"></div>
								</div>
								<div class="item-title-row" style="margin-top: 3px;">
                                    <div class="item-title" style="font-weight: 400; color: #FF5500;">
										￥$!{item.price}
                                        <del style="font-size: 10px; color: #999; margin-left: 5px;">
											<span style="">￥$!{item.origin}</span>
										</del>
									</div>
									<div class="item-after">
										<a href="#"><i class="iconfont icon-roundadd" style="font-size: 25px; color: #FF5500;"></i></a>
									</div>
								</div>
                            </div>
						</div>
					</li>
					#end
				</ul>
			</div>
			
			<div class="item-list-overlay"></div>
        </div>
		
		<div class="toolbar">
			<div class="toolbar-inner" style="padding: 0;">
                <a href="javascript:item_list_picker();" class="a6r light" style="position: absolute;"></a>
				<div class="row no-gutter" style="width: 100%;">
					<div class="col-66">
						<a href="javascript:item_list_picker();" class="button button-big" style="background-color: #ffffff; border: 0;">
							<span style="font-size: 25px; color: #ff5000;">￥$!formatUtil.getAmountFormat('3')</span>
						</a>
					</div>
					<div class="col-33">
						<a href="javascript:#" class="button button-big" style="background-color: #ff5000; border: 0; border-radius: 0; color: #fff;">立即购买</a>
					</div>
				</div>   
			</div>
		</div>
		
		<!-- Picker -->
        <div class="picker-modal picker-item-list" style="background: #FFFFFF; z-index: 499; margin-bottom: 44px; height: initial;">
            <div class="toolbar" style="background: #FFFFFF; border-bottom: 1px solid #e5e5e5;">
            	<div class="toolbar-inner">
                    <div class="left">
                        <a href="#">
							<i class="iconfont icon-delete" style="font-size: 15px; color: #8e8e93;"></i>
							<span style="font-size: 14px; color: #8e8e93;">删除全部</span></a>
					</div>
            		<div class="right">
						<a href="#" class="close-picker"><i class="iconfont icon-close" style="font-size: 25px; color: #8e8e93;"></i></a>
					</div>
            	</div>
            </div>
            <div class="picker-modal-inner">
				<div class="list-block" style="margin-top: 0; font-size: 15px;">
					<ul class="before-height-0 after-height-0">
						<li>
        					<div class="item-content">
        						<div class="item-inner">
        							<div class="item-title">特仑苏纯牛奶利乐苗条装</div>
        							<div class="item-after">
                                        <span style="padding-top: 3px; padding-right: 10px;">￥$!formatUtil.getAmountFormat('1')</span>
        								<div class="quantity">
        									<button class="minus" type="button"></button>
                                            <input id="item/list/quantity" type="text" class="txt" value="1"></input>
        									<button class="plus" type="button"></button>
        									<div class="response-area response-area-minus" onclick="item_list_minus();"></div>
        									<div class="response-area response-area-plus" onclick="item_list_plus();"></div>
        								</div>
        							</div>
        						</div>
                            </div>
                        </li>
						<li>
        					<div class="item-content">
        						<div class="item-inner">
        							<div class="item-title">特仑苏纯牛奶利乐苗条装</div>
        							<div class="item-after">
										<span style="padding-top: 3px; padding-right: 10px;">￥$!formatUtil.getAmountFormat('1')</span>
        								<div class="quantity">
        									<button class="minus" type="button"></button>
                                            <input id="item/list/quantity" type="text" class="txt" value="1"></input>
        									<button class="plus" type="button"></button>
        									<div class="response-area response-area-minus" onclick="item_list_minus();"></div>
        									<div class="response-area response-area-plus" onclick="item_list_plus();"></div>
        								</div>
        							</div>
        						</div>
                            </div>
                        </li><li>
        					<div class="item-content">
        						<div class="item-inner">
        							<div class="item-title">特仑苏纯牛奶利乐苗条装</div>
        							<div class="item-after">
										<span style="padding-top: 3px; padding-right: 10px;">￥$!formatUtil.getAmountFormat('1')</span>
        								<div class="quantity">
        									<button class="minus" type="button"></button>
                                            <input id="item/list/quantity" type="text" class="txt" value="1"></input>
        									<button class="plus" type="button"></button>
        									<div class="response-area response-area-minus" onclick="item_list_minus();"></div>
        									<div class="response-area response-area-plus" onclick="item_list_plus();"></div>
        								</div>
        							</div>
        						</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>